<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3 id="head">Register the New Complaint</h3>
        <form ng-hide="complaint.isFormHidden" ng-submit="submitComplaint()">
            <input type="text" class="form-control" ng-model="complaint.name" placeholder="enter customer name">
            <textarea class="form-control" ng-model="complaint.text" placeholder="please type your complaint"></textarea>
            <br/>
            <button class="btn btn-primary form-control">Register</button>
        </form>
        <div>{{complaint.responseData}}</div>
    </div>
</div>
